@font-face {
  font-family: 'NimbusRegular';
  src: url('../fonts/NimbusRegular.eot');
  src: url('../fonts/NimbusRegular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NimbusRegular.woff') format('woff'),
       url('../fonts/NimbusRegular.ttf')  format('truetype')
     }
@font-face {
  font-family: 'NimbusBold';
  src: url('../fonts/NimbusBold.eot');
  src: url('../fonts/NimbusBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NimbusBold.woff') format('woff'),
       url('../fonts/NimbusBold.ttf')  format('truetype')
     }

%bookFont {
  font-family: "Maison Neue Book", NimbusRegular, Calibri, Arial, Roboto, sans-serif;
  font-weight: 300;
  font-style: normal;
}

%boldFont {
  font-family: "Maison Neue Bold", NimbusBold, Calibri, Arial, Roboto, sans-serif;
  font-weight: bold;
  font-style: normal;
}

%italicFont {
  font-family: "Maison Neue Light Italic", NimbusRegular, Calibri, Arial, Roboto, sans-serif;
  font-weight: 200;
  font-style: italic;
}

%italicMediumFont {
  font-family: "Maison Neue Medium Italic", NimbusRegular, Calibri, Arial, Roboto, sans-serif;
  font-weight: 300;
  font-style: italic;
}


%mediumFont {
  font-family: "Maison Neue Medium", NimbusRegular, Calibri, Arial, Roboto, sans-serif;
  font-weight: normal;
  font-style: normal;
}
