/**
  * 4 COL layout classes for Mobile layout (< $bp)
 **/

// Content width classes
.col-s-1{
    @include span(1 of 4);
}
.col-s-2{
    @include span(2 of 4);
}
.col-s-3{
    @include span(3 of 4);
}

.col-s-4{
    @include span(4 of 4);
}

//Classes for applying left margins
.pre-s-1{
    @include pre(1 of 4);
}
.pre-s-2{
    @include pre(2 of 4);
}
.pre-s-3{
    @include pre(3 of 4);
}

.pre-s-4{
    @include pre(4 of 4);
}

//Classes for applying right margins
.post-s-1{
    @include post(1 of 4);
}
.post-s-2{
    @include post(2 of 4);
}
.post-s-3{
    @include post(3 of 4);
}

.post-s-4{
    @include post(4 of 4);
}



/**
  * 12 COL layout classes for Desktop layout (=> $bp)
  */
// Content width classes
.col-l-1{
  @include susy-breakpoint($bp , $susy-l){
    @include span(1 of 12);
  }
}

.col-l-2{
  @include susy-breakpoint($bp , $susy-l){
    @include span(2 of 12);
  }
}
.col-l-3{
  @include susy-breakpoint($bp , $susy-l){
    @include span(3 of 12);
  }
}
.col-l-4{
  @include susy-breakpoint($bp , $susy-l){
    @include span(4 of 12);
  }
}
.col-l-5{
  @include susy-breakpoint($bp , $susy-l){
    @include span(5 of 12);
  }
}
.col-l-6{
  @include susy-breakpoint($bp , $susy-l){
    @include span(6 of 12);
  }
}
.col-l-7{
  @include susy-breakpoint($bp , $susy-l){
    @include span(7 of 12);
  }
}
.col-l-8{
  @include susy-breakpoint($bp , $susy-l){
    @include span(8 of 12);
  }
}
.col-l-9{
  @include susy-breakpoint($bp , $susy-l){
    @include span(9 of 12);
  }
}
.col-l-10{
  @include susy-breakpoint($bp , $susy-l){
    @include span(10 of 12);
  }
}
.col-l-11{
  @include susy-breakpoint($bp , $susy-l){
    @include span(11 of 12);
  }
}
.col-l-12{
  @include susy-breakpoint($bp , $susy-l){
    @include span(12 of 12);
  }
}

//Classes for applying left margins

.pre-l-1{
  @include susy-breakpoint($bp , $susy-l){
    @include pre(1 of 12);
  }
}
.pre-l-2{
  @include susy-breakpoint($bp , $susy-l){
    @include pre(2 of 12);
  }
}
.pre-l-3{
  @include susy-breakpoint($bp , $susy-l){
    @include pre(3 of 12);
  }
}
.pre-l-4{
  @include susy-breakpoint($bp , $susy-l){
    @include pre(4 of 12);
  }
}
.pre-l-5{
  @include susy-breakpoint($bp , $susy-l){
    @include pre(5 of 12);
  }
}
.pre-l-6{
  @include susy-breakpoint($bp , $susy-l){
    @include pre(6 of 12);
  }
}
.pre-l-7{
  @include susy-breakpoint($bp , $susy-l){
    @include pre(7 of 12);
  }
}
.pre-l-8{
  @include susy-breakpoint($bp , $susy-l){
    @include pre(8 of 12);
  }
}
.pre-l-9{
  @include susy-breakpoint($bp , $susy-l){
    @include pre(9 of 12);
  }
}
.pre-l-10{
  @include susy-breakpoint($bp , $susy-l){
    @include pre(10 of 12);
  }
}
.pre-l-11{
  @include susy-breakpoint($bp , $susy-l){
    @include pre(11 of 12);
  }
}
.pre-l-12{
  @include susy-breakpoint($bp , $susy-l){
    @include pre(12 of 12);
  }
}

//Classes for applying right margins
.post-l-1{
  @include susy-breakpoint($bp , $susy-l){
    @include post(1 of 12);
  }
}

.post-l-2{
  @include susy-breakpoint($bp , $susy-l){
    @include post(2 of 12);
  }
}
.post-l-3{
  @include susy-breakpoint($bp , $susy-l){
    @include post(3 of 12);
  }
}
.post-l-4{
  @include susy-breakpoint($bp , $susy-l){
    @include post(4 of 12);
  }
}
.post-l-5{
  @include susy-breakpoint($bp , $susy-l){
    @include post(5 of 12);
  }
}
.post-l-6{
  @include susy-breakpoint($bp , $susy-l){
    @include post(6 of 12);
  }
}
.post-l-7{
  @include susy-breakpoint($bp , $susy-l){
    @include post(7 of 12);
  }
}
.post-l-8{
  @include susy-breakpoint($bp , $susy-l){
    @include post(8 of 12);
  }
}
.post-l-9{
  @include susy-breakpoint($bp , $susy-l){
    @include post(9 of 12);
  }
}
.post-l-10{
  @include susy-breakpoint($bp , $susy-l){
    @include post(10 of 12);
  }
}
.post-l-11{
  @include susy-breakpoint($bp , $susy-l){
    @include post(11 of 12);
  }
}
.post-l-12{
  @include susy-breakpoint($bp , $susy-l){
    @include post(12 of 12);
  }
}
