.sec1 {
  position: relative;
  background: $white;
  z-index: 100;
  float: none;
  .flexslider {
      padding-bottom: 40px;
      @media #{$large-screen} {
        padding-bottom: 0;
      }
    }
  &.blue-theme {
    .flexslider,
    .flexslider:hover {
      .flex-nav-prev a,
      .nivo-prevNav {
        background: url(../img/blue-left-arrow-new.png) 50% 50% no-repeat;
        background-size : 100%;
        left: -30px;
        color: transparent;
        text-indent: -99999999px;
        &:focus {
          outline: none;
        }
        &:hover {
          left: -45px;
        }
      }
      .flex-nav-next a,
      .nivo-nextNav {
        background: url(../img/blue-right-arrow-new.png) 50% 50% no-repeat;
        background-size : 100%;
        right: -30px;
        color: transparent;
        text-indent: -99999999px;
        &:focus {
          outline: none;
        }
        &:hover {
          right: -45px;
        }
      }
    }
    .flex-control-paging,
    .nivo-controlNav {
      text-align: right;
      a,
      .nivo-control {
        color: transparent;
        @media #{$large-screen} {
          color: $white;
          &.flex-active,
          &.active {
            background: $navy;
          }
        }
      }
    }
  }
  .flexslider {
    border: 0;
    border-radius: 0;
    margin: 0;
    .flex-viewport {
      @media #{$large-screen} {

      }
    }
    .slides > li {
      position: relative;
      @media #{$large-screen} {
        overflow: hidden;
      }
      img {
        @include transition(1.5s all ease-in-out);
        @include transform(scale(1));
        &.zoomed {
          @media #{$large-screen} {
            @include transition(1.5s all ease-in-out);
            @include transform(scale(1.1));
          }
        }
      }
    }
    .flex-control-nav li {
      margin: 0;
      a {
        @include prop(box-shadow , none);
      }
    }
    .flex-direction-nav {
      display: none;
    }
  }
  &.white-theme {
    .flexslider,
    .flexslider:hover {
      .flex-nav-prev .flex-prev,
      .nivo-prevNav {
        background: url(../img/blue-left-arrow-new.png) 50% 50% no-repeat;
        background-size : 100%;
        left: -30px;
        color: transparent;
        text-indent: -99999999px;
        &:focus {
          outline: none;
        }
        &:hover {
          left: -45px;
        }
        &:before {
          content: none;
        }
      }
      .flex-nav-next .flex-next,
      .nivo-nextNav {
        background: url(../img/blue-right-arrow-new.png) 50% 50% no-repeat;
        background-size : 100%;
        right: -30px;
        color: transparent;
        text-indent: -99999999px;
        &:focus {
          outline: none;
        }
        &:hover {
          right: -45px;
        }
        &:before {
          content: none;
        }
      }
    }
    .flex-control-paging,
    .nivo-controlNav {
      text-align: center;
      @media #{$large-screen} {
        text-align: right;
      }
      li a,
      .nivo-control {
        color: transparent;
        @media #{$large-screen} {
          color: $navy;
          &:hover,
          &.flex-active,
          &.active {
            background: $white;
          }
        }
      }
    }
  }
  &.arrows {
    .nivo-directionNav {
      display: block;
    }
    .nivo-controlNav {
      display: none;
    }
  }
  &.buttons {
    .nivo-directionNav {
      display: none;
    }
    .nivo-controlNav {
      display: block;
    }
  }
  .field-collection-view {
    padding: 0;
    margin: 0;
    border: 0;
  }
  .flexslider,
  .nivoSlider {
    .flex-next,
    .flex-prev,
    .nivo-prevNav,
    .nivo-nextNav {
      color: transparent;
      display: block;
      width: 75px;
      height: 30px;
    }
  }
  .flex-control-paging,
  .nivo-controlNav {
    position: relative;
    margin: 10px 0;
    padding: 0;
    z-index: 100;
    bottom: auto;
    @media #{$large-screen} {
      position: absolute;
      top: 49%;
      margin: 0;
      right: 150px;
      left: auto;
      bottom: auto;
      width: auto;
    }
  }
  .flex-caption,
  .nivo-caption,
  .slider-overlay-text {
    background: transparent;
    position: absolute;
    left: 42px;
    top: 50%;
    bottom: auto;
    right: auto;
    max-width: -webkit-calc(50% - 42px);
    max-width: -moz-calc(50% - 42px);
    max-width: calc(50% - 42px);
    padding: 0;
    z-index: 100;
    @media #{$large-screen} {
      top: 50%;
      left: 150px;
      max-width: -webkit-calc(50% - 150px);
      max-width: -moz-calc(50% - 150px);
      max-width: calc(50% - 150px);
    }
    .blue_theme {
      color: $navy;
      a {
        color: $navy;
      }
    }
    .white_theme {
      color: $white;
      a {
        color: $white;
      }
    }
  }
  .flex-control-nav li a,
  .nivo-control {
    margin: 0 3px;
    @include rounded(100%);
    color: transparent;
    padding: 0;
    height: 11px;
    @extend %mediumFont;
    display: inline-block;
    font-size: 14px;
    background: $grey;
    text-decoration: none;
    @media #{$large-screen} {
      margin: 3px;
      color: $navy;
      display: inline;
      height: auto;
      padding: 2px 8px;
      background: transparent;
    }
    &:hover,
    &.flex-active,
    &.active {
      background: $navy;
      @extend %bookFont;
      font-style: italic;
      font-weight: 300;
      @include transition(background 500ms cubic-bezier(1.000, 0.495, 0.000, 0.415));
      @include prop(transition-timing-function , cubic-bezier(1.000, 0.495, 0.000, 0.415));
      @media #{$large-screen} {
        background: $white;
      }
    }
  }
  .synopsis {
    @extend %italicFont;
    font-size: 12px;
    @media #{$large-screen} {
      font-size: 18px;
    }
  }
  .synopsis-main-text {
    @extend %boldFont;
    font-size: 24px;
    font-weight: bold;
    line-height: 1em;
    @media #{$large-screen} {
      font-size: 46px;
      line-height: 46px;
    }
  }
  .flex-direction-nav {
    .flex-disabled {
      opacity: 1 !important;
    }
    a:before {
      content: none !important;
    }
  }
}
.html {
  &.adminimal-frontend {

  }
  .qtip {
    max-width: 700px;
    max-height: 500px;
    img {
      width: 100%;
      height: auto;
    }
  }
}
.field-collection-container {
  border: 0;
  margin: 0;
}
.field-collection-description,
.action-links-field-collection-add {
  display: none;
}

