.sec6{
  background: $white;
  color: $navy;
  display: none; // Added by Shipra
  .sec6-inner{
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 65px;
    @media #{$large-screen}{
      max-width: 100%;
    }
    .grid-container{
      clear: both;
      @media #{$large-screen}{
        display: table;
        table-layout: fixed;
        width: 100%;
        .item{
          display: table-cell;
          vertical-align: bottom;
        }
      }
    }
    .item{
      color: $white;
      padding-top: 40px;
      @media #{$large-screen}{
        color: $navy;
        padding-bottom: 84px;
      }
      img{
        max-width: 100%;
        height: auto;
      }
      .image-detail-container{
        position: relative;
        .detail-container{
          position: absolute;
          top: 45%;
          left: 15px;
          @media #{$large-screen}{
            position: relative;
            left: 0;
            top: 0;
          }
        }
      }
      .synopsis{
        font-style: italic;
        font-weight: lighter;
      }
      .synopsis-main-content{
        margin-top: 10px;
        font-size: 22px;
        @media #{$large-screen}{
          font-size: 26px;
        }
        text-decoration: underline;
        font-weight: bold;
      }
    }
    .item-1{
      width: 50%;
      float: left;
      padding-top: 42px;
      img{
        width: 100%;
        height: auto;
      }
      @media #{$large-screen}{
        float: none;
        padding-top: 40px;
        padding-left: 65px / 1366px * 100%;
        width: 329px / 1366px * 100%;
        img{
          width: auto;
          height: auto;
        }
      }
    }
    .item-2{
      width: 50%;
      float: left;
      padding-top: 42px;
      img{
        width: 100%;
        height: auto;
      }
      @media #{$large-screen}{
        float: none;
        padding-top: 40px;
        width: 431px / 1366px * 100%;
        padding-left: 60px / 1366px * 100%;
        img{
          width: auto;
          height: auto;
        }
      }
    }
    .item-3{
      clear: both;
      width: 365px / 640px * 100%;
      padding-left: 138px / 640px * 100%;
      padding-right: 138px / 640px * 100%;
      padding-top: 95px;
      color: $navy;
      margin-bottom: 110px;
      @media #{$large-screen}{
        clear: none;
        padding-top: 0;
        padding-left: 168px / 1366px  * 100%;
        padding-right: 65px / 1366px  * 100%;
        width: 605px / 1366px * 100%;
        margin-bottom: 0;
      }
    }
    .sec6-header{
      position: relative;
      color: $navy;
      padding-left: 42px;
      padding-top: 62px;
      max-width: 640px;
      margin: auto;
      @media #{$large-screen}{
        position: absolute;
        top: 12.5%;
        left: 0;
        padding-left: 65px / 1366px * 100%;
        width: 264px / 1366px * 100%;
        padding-top: 0;
      }
      @media screen and (max-width: 1100px) and (min-width : 960px){
        top: 8%;
      }
      a{
        color: $navy;
      }
      .synopsis{
        font-style: italic;
        font-weight: lighter;
        margin-bottom: 30px;
        @media #{$large-screen}{
          margin-bottom: 5px;
        }
      }
      h2{
        font-size: 32px;
        line-height: 1.2em;
        font-weight: bold;
        margin-bottom: 22px;
        @media #{$large-screen}{
          margin-bottom: 10px;
        }
      }
      a{
        display: block;
        float: left;
        margin-right: 20px;
        padding-bottom: 20px;
        @media #{$large-screen}{
          width: 40%;
          padding-bottom: 0;
          margin: 5px 20% 5px 0;
          &:nth-child(2n){
            margin-right: 0;
          }
        }
        font-weight: bold;
      }
    }
  }
}
