.sec5 {
  background: $light-grey;
  @include box-sizing(border-box);
  display: none; // Added by Shipra
  padding: 54px 0 54px 0%;
  text-align: center;
  @media #{$large-screen}{
    padding: 50px 0 50px 32.942898%;
    text-align: left;
  }
  .main-red-text {
    color: $red;
    font-size: 14px;
    line-height: 1.4em;
    @media #{$large-screen}{
      font-size: 24px;
    }
    font-weight: bold;
  }
  .tnc-app {
    color: #ccc;
    font-style: italic;
    font-size: 10px;
    @media #{$large-screen}{
      font-size: 13px;
    }
    a{
      color: #ccc;
      font-style: italic;
      &:hover{
        color: #bbb;
      }
    }
  }
}
