.sec2 {
  background: $light-grey;
  position: relative;
  @media screen and (max-width: 1024px) {
    margin-top: 70px;
  }
  @media screen and (min-width: 1025px) {
    margin-top: -70px;
  }
  // @media #{$large-screen} {
  //   margin-top: -70px;
  // }
  .jspDrag:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 25%;
      width: 1px;
      height: 50%;
      background-color: $light-grey ;
      z-index: 10;
      -webkit-box-shadow: 2px 0 0 0 $light-grey, 4px 0 0 $light-grey;
         -moz-box-shadow: 2px 0 0 0 $light-grey, 4px 0 0 $light-grey;
          -ms-box-shadow: 2px 0 0 0 $light-grey, 4px 0 0 $light-grey;
           -o-box-shadow: 2px 0 0 0 $light-grey, 4px 0 0 $light-grey;
              box-shadow: 2px 0 0 0 $light-grey, 4px 0 0 $light-grey;
  }
  .sec2-content {
    overflow: hidden;
    outline: none;
    line-height: normal;
    position: relative;
    @media #{$large-screen} {
      height: 721px;
    }
    .tap-div {
      height: 30px;
      position: absolute;
      top: 50%;
      width: 100%;
      &::before {
        @media screen and (max-width: 1100px) {
          background: url(../img/blue-left-arrow-new.png) 50% 50% no-repeat;
          content: '';
          display: inline-block;
          position: absolute;
          height: 30px;
          width: 30%;
          z-index: 300;
          left: 0;
        }
      }
      &::after {
        @media screen and (max-width: 1100px) {
          background: url(../img/blue-right-arrow-new.png) 50% 50% no-repeat;
          content: '';
          display: inline-block;
          position: absolute;
          height: 30px;
          width: 30%;
          z-index: 300;
          right: 0;
        }
      }
    }
  }
  .jspHorizontalBar {
    background: transparent;
    height: 13px;
  }
  .jspVerticalBar {
    background: transparent;
  }
  .jspTrack {
    background: $light-grey;
    .jspDrag {
      background: $navy;
    }
  }
  .image-container {
    position: relative;
    img {
      position: absolute;
      left: 0;
      bottom: 0;
      @media #{$large-screen} {
        position: relative;
      }
    }
    &.l {
      width: 588px;
      @media #{$large-screen} {
        width: auto;
        height: auto;
      }
    }
    &.p {
      width: 364px;
      @media #{$large-screen} {
        width: auto;
        height: auto;
      }
    }
  }
  .sec2-inner {
    display: inline-block;
    position: relative;
    @media #{$large-screen} {
      margin-left: 64px;
      padding-top: 0;
    }
  }
  .sec-item {
    float: left;
    @media screen and (min-width: 1025px) {
      margin-right: 60px;
    }
    // @media #{$large-screen} {
    //   margin-right: 60px;
    // }
    .detail-container {
      height: 140px;
      margin-left: 20%;
      @media #{$large-screen} {
        height: 150px;
        margin-left: 0;
      }
      color: $navy;
      .synopsis-main-text {
        @extend %boldFont;
        line-height: 1.5em;
        text-decoration: underline;
        font-size: 24px;
        a {
          color: $navy;
        }
      }
    }
    .synopsis-header {
      padding-top: 20px;
      @extend %italicFont;
      font-size: 18px;
      line-height: 1em;
    }
    .images-processed {
      position: relative;
      // iframe,
      // video,
      .image-asset {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 200;
        background: $black;
        width: 100%;
      }
    }
    .play-pause-btn {
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 250;
      background: url(../img/play-w.png) center center no-repeat;
      cursor: pointer;
      &:hover {
        background: url(../img/play-b.png) center center no-repeat;
        -webkit-transition : all 0.2s ease-in-out;
        -moz-transition : all 0.2s ease-in-out;
        -ms-transition : all 0.2s ease-in-out;
        -o-transition : all 0.2s ease-in-out;
        transition : all 0.2s ease-in-out;
      }
    }
  }
  .info-wrapper {
    text-transform: uppercase;
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 2000;
    overflow: hidden;
    @include rounded(100%);
    @extend %boldFont;
    @media screen and (max-width: 1100px) {
      display: none;
    }
    .info-inner {
      background: $white;
      color: $navy;
      width: 123px;
      height: 123px;
      opacity: 0.8;
    }
    .rounded-info {
      width: 80px;
      padding: 45px 25px;
      text-align: center;
      line-height: 1.2em;
    }
  }
}
.sec2-inner {
  position: relative;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  &.dragging-enabled {
    cursor: pointer;
  }
  .sec-item {
    .playing {
      .play-pause-btn {
        background-image: none;
      }
    }
    .overlay-image {
      position: absolute;
      top: auto;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      display: none;
      z-index: 225;
      &.show-images {
        display: block;
      }
    }
  }
}
